<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyBanHang.Properties.Settings.QuanLyBanHangConnectionString"
            connectionString="Data Source=HONGUYENLEVY;Initial Catalog=QLBH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyBanHang.Properties.Settings.QLBH" connectionString="Data Source=HONGUYENLEVY;Initial Catalog=QLBH;Integrated Security=True" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>